table, th, td {
  padding: 5px;
  width: 300px;
}
.ascii-art {
  font-size: 6;
}
.peterriver {
  margin-right: 10px;
  width: 100px;
  background: #3498db;
  border-bottom: #2980b9 3px solid;
  border-left: #2980b9 1px solid;
  border-right: #2980b9 1px solid;
  border-radius: 6px;
  text-align: center;
  color: white;
  padding: 5px;
  float: left;
  font-size: 12px;
  font-weight: 800;
}

.peterriver:hover {
  opacity: 0.8;
}

.peterriver:active {
  width: 100px;
  background: #2385C7;
  border-bottom: #2980b9 1px solid;
  border-left: #2980b9 1px solid;
  border-right: #2980b9 1px solid;
  border-radius: 6px;
  text-align: center;
  color: white;
  padding: 5px;
  margin-top: 3px;
  float: left;
}

/* Tabs Name Container */
.tabs-container{
  position: relative;
  background: #FFC0CB;
  float: left;
  z-index: 20;
}
/* Tabs Names Label */
.tabs-container label{
  position: relative;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  font-size: 13px;
/* color: #fff; */
  cursor: pointer;
  user-select: none;
}
/* Hover effect on tabs names */
.tabs-container label:hover {
  background: #eee;
}
.tabs-container label:focus {
  background: #eee;
}
.tabs-container label:selected {
  background: #eee;
}

/* Content area for tabs */
.tab-content{
  position: relative;
  background: #eee;
/*width: calc(100% - 120px); */
  padding: 15px;
  float: left;
  box-sizing: border-box;
  z-index: 19;
  display: none;
  width: 750px;
  height: 200px;
}

.tab-content:after{
  content: "";
  clear: both;
}
/* Hide input radio from users */
input[name="tab"]{
   display: none;
}

/* Show tab when input checked */
input[name="tab"]:checked + .tab-content{
   display: block;
   background: #fff;
/*   animation: slide 0.5s forwards; */
}
/* Slide animation for tab contents */
@keyframes slide{
   from{
   left: -100%;
   opacity: 0;
   }
   to{
   left: 0;
   opacity: 1;
   }
}
.clear{
  clear:both;
}
.flex-container{
  width: 50%;
  margin: 0 auto;
  display: -webkit-flex;*/ /* Safari */   
  display: flex; /* Standard syntax */
  width: 50%;
  align-items: center;
}

#flex-container-inside {
  margin-left: 0px;
}
.flex-container .column{
  -webkit-flex: 1; /* Safari */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* Standard syntax */
  display:flex;
}

.flex-container .column.bg-alt{
  background: #b4bac0;
}

div {
  font-size: 10pt;
  font-family: "Courier New", Monospace;
  white-space: pre;
  text-align:center;
  margin: auto;
}
.header {
  word-wrap: break-word;
  overflow:hidden;
  white-space: normal;
}
.facts {
  margin-top:30px;
  text-align: center;
  width: 900px;
  overflow:hidden;
  white-space: normal;
}
iframe {
  border: none;
  height: 50px;
}
#p-menu {
  margin: 0px;
  background: seashell;
}
#container {
  width: 50%;
  background-color: #ffcc33;
  margin: auto;
}
#iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.float-input {
  float: left;
} 
